

<form class="row-fluid my-replyForm">
	<div class="span10">
		<textarea name="commentContent" class="span12 my-comment"></textarea>
	</div>
	<div class="span2">
		<input type="button" class="span12 btn my-submit" value="å‘å¸ƒ" />
	</div>
</form>

<div class="row-fluid my-commentList">
	<div class="my-commentItem">
		Here is dinner comment content;
	</div>
	<% util.each(commentList, function(cmt) { %>
		<div class="my-commentItem">
			<h4><%=cmt.fromUser.name %> @ <%=cmt.postTime %></h4>
			<%=cmt.content %>
		</div>
	<% }) %>
</div>