
<form class="form-vertical">
	<div class="control-group">
		<div class="controls">
			<textarea name="commentContent"></textarea>
			<p class="help-block">Supporting help text</p>
		</div>
    </div>
</form>