<form name="" class="ui-form" method="post" action="#" id="">
    <fieldset> 
        <legend>User Regist</legend>
        <div class="ui-form-item">
            <label for="user[name]" class="ui-label"><em class="ui-form-required">*</em>UserName：</label>
            <input class="ui-input" type="text" name="user[name]" />
            <p class="ui-form-explain">Enter your login name, at least 5 chars</p>
        </div>
        
        <div class="ui-form-item">
            <label for="user[pass]" class="ui-label"><em class="ui-form-required">*</em>PassWord：</label>
            <input class="ui-input" type="text" name="user[pass]" />
            <p class="ui-form-explain">Your login password</p>
        </div>

        <div class="ui-form-item">
            <label for="user[pass]" class="ui-label"><em class="ui-form-required">*</em>Validate Password：</label>
            <input class="ui-input" type="text" name="user[pass2]" />
            <p class="ui-form-explain">Validate password</p>
        </div>        

        <div class="ui-form-item">
            <span class="ui-button ui-button-ok">
                <input class="ui-button-text" type="submit" value="确 定" />
            </span>
        </div>
    
    </fieldset>
</form> <!-- .ui-form -->

